body {
	font-family: Tahoma,Geneva,Kalimati,sans-serif;
	line-height: 20px;

}



#header .inner {
	height: 116px;
}
#header {	background-color: #fefefe;	background-image: url("lenta-500-06.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: scroll;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
}
::selection {	color: #ffffff;	background: rgb(231,50,50);}
::-moz-selection {	color: #ffffff;	background: rgb(231,50,50);}
::-webkit-selection {	color: #ffffff;	background: rgb(231,50,50);}
#site_name {	color: #444444;	font-size: 40px;
}
#site_description {	color: #444444;	font-size: 11px;
}
#logo, #logo_text {
	bottom: -5px;
}
#navigation .menu > li.hover > a,
#navigation .menu > li.hover > a:active,
#navigation .menu > li.hover > a:visited,
#navigation .menu > li.hover > a > i {	color: rgb(231,50,50);}
#navigation .menu > li.current-menu-item > a,
#navigation .menu > li.current-menu-item > a:visited,
#navigation .menu > li.current-menu_item > a,
#navigation .menu > li.current-menu_item > a:visited,
#navigation .menu > li.current-menu-ancestor > a,
#navigation .menu > li.current-menu-ancestor > a:visited,
#navigation .menu > li.current_page_item > a,
#navigation .menu > li.current_page_item > a:visited,
#navigation .menu > li.current_page_ancestor > a,
#navigation .menu > li.current_page_ancestor > a:visited,
#navigation .menu > li.current-page-item > a ,
#navigation .menu > li.current-page-item > a:visited,
#navigation .menu > li.current-page-ancestor > a,
#navigation .menu > li.current-page-ancestor > a:visited,
#navigation .menu > li.current-menu-item > a > i,
#navigation .menu > li.current-menu-ancestor > a > i,
#navigation .menu > li.current_page_item > a > i,
#navigation .menu > li.current_page_ancestor > a > i,
#navigation .menu > li.current-page-item > a > i,
#navigation .menu > li.current-page-ancestor > a > i {	color: rgb(231,50,50);}#navigation > ul > li.has-children > a:after {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.5em;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid;	border-top-color: rgb(255,255,255);	border-bottom: 2px solid transparent;
}
#navigation > ul > li.has-children.current-menu-item > a:after,
#navigation > ul > li.has-children.current-menu-ancestor > a:after,
#navigation > ul > li.has-children.current-page-item > a:after,
#navigation > ul > li.has-children.current-page-ancestor > a:after,
#navigation > ul > li.has-children.current_page_item > a:after,
#navigation > ul > li.has-children.current_page_ancestor > a:after,
#navigation > ul > li.has-children.current_page_parent > a:after {	border-top-color: rgb(231,50,50);}
#navigation > ul > li.has-children.hover > a:after {	border-top-color: rgb(231,50,50);}#navigation ul ul .has-children > a:after {
	content: ' ';
	display: inline-block;
	width: 0;
	height: 0;
	float: right;
	margin-top: 6px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid;	border-left-color: #000000;}
#navigation ul ul li.has-children.current-menu-item > a:after,
#navigation ul ul li.has-children.current-menu-ancestor > a:after,
#navigation ul ul li.has-children.current-page-item > a:after,
#navigation ul ul li.has-children.current-page-ancestor > a:after
#navigation ul ul li.has-children.current_page_item > a:after,
#navigation ul ul li.has-children.current_page_ancestor > a:after ,
#navigation ul ul li.has-children.current_page_parent > a:after {	border-left-color: #000000;}
#navigation ul ul li.has-children a:hover:after {	border-left-color: #000000;}
#navigation .menu > li > a, #navigation .menu > li > a:visited {
	font-size: 15px;	background-color: transparent;	color: rgb(255,255,255);}
#navigation .menu > li > a > i {	color: rgb(255,255,255);}
#navigation ul li.hover ul li a, #navigation ul ul li a, #navigation ul ul li a:visited {
	font-size: 14px;	color: #000000;}
#navigation ul li ul {	background-color: #fcfcfc;}
#navigation .sub-menu .current-menu-item > a,
#navigation .sub-menu .current-menu-item > a:visited,
#navigation .sub-menu .current-menu_item > a,
#navigation .sub-menu .current-menu_item > a:visited,
#navigation .sub-menu .current-menu-ancestor > a,
#navigation .sub-menu .current-menu-ancestor > a:visited,
#navigation .sub-menu .current-page-item > a,
#navigation .sub-menu .current-page-item > a:visited,
#navigation .sub-menu .current-page-ancestor > a,
#navigation .sub-menu .current-page-ancestor > a:visited,
#navigation .sub-menu .current_page_item > a,
#navigation .sub-menu .current_page_item > a:visited,
#navigation .sub-menu .current_page_ancestor > a,
#navigation .sub-menu .current_page_ancestor > a:visited  {	background-color: #fcfcfc;	color: #000000;}
#navigation ul ul li a:hover, #navigation ul ul li a:active,
#navigation ul li.hover ul li a:hover, #navigation ul li.hover ul li a:active {	color: #000000 !important;}
#navigation ul li ul li a:hover, #navigation ul ul li a:hover {	background-color: #eeeeee !important;}
.nav2select {
	font-size: 16px;
}
a:hover {
	text-decoration:underline;
}
.no-gradient #feature, .has-gradient #feature {	background-color: #58734A;
}
#feature h1 {	color: #ffffff;	font-size: 42px;
}
.feature-introduce {	color: #ffffff;	font-size: 21px;
}
.feature-introduce a {	color: #ffffff;}
#page {	background-color: rgb(255,244,241);	background-image: url("background.jpg");
	background-repeat: repeat-y;
	background-position: center top;
	background-attachment: scroll;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	color: #333333;
	font-size: 14px;
}
#page_bottom{
	background:none;
}
.wp-pagenavi a:hover {
	font-size: 16px;
}
.wp-pagenavi span.current {
	font-size: 18px;
}
ul.mini_tabs li.current, ul.mini_tabs li.current a {	background-color: #fefefe;}
.tabs_container .panes {	background-color: #ffffff;	color: #333333;}
.divider.top a {	background-color: rgb(255,244,241);}
#breadcrumbs {
	font-size: 11px;
}
#page h1,#page h2,#page h3,#page h4,#page h5,#page h6{	color: #333333;}
#page h1 {	color: #333333;}
#page h2 {	color: #333333;}
#page h3 {	color: #333333;}
#page h4 {	color: #333333;}
#page h5 {	color: #333333;}
#page h6 {	color: #333333;}
#page a, #page a:visited {	color: #58734A;}
#page a:hover, #page a:active {	color: rgb(231,50,50);}
#page h1 a,#page h1 a:visited {	color: #333333;}
#page h2 a,#page h2 a:visited {	color: #333333;}
#page h3 a,#page h3 a:visited {	color: #333333;}
#page h4 a,#page h4 a:visited {	color: #333333;}
#page h5 a,#page h5 a:visited {	color: #333333;}
#page h6 a,#page h6 a:visited {	color: #333333;}
#page h1 a:hover, #page h1 a:active {	color: rgb(231,50,50);}
#page h2 a:hover, #page h2 a:active {	color: rgb(231,50,50);}
#page h3 a:hover, #page h3 a:active {	color: rgb(231,50,50);}
#page h4 a:hover, #page h4 a:active {	color: rgb(231,50,50);}
#page h5 a:hover, #page h5 a:active {	color: rgb(231,50,50);}
#page h6 a:hover, #page h6 a:active {	color: rgb(231,50,50);}
#page .portfolios.sortable header a {	background-color: #eeeeee;	color: #666666;}
#page .portfolios.sortable header a.current, #page .portfolios.sortable header a:hover {	background-color: rgb(231,50,50);	color: #ffffff;}
.portfolio_more_button .button {	background-color: #333333;}
.portfolio_more_button .button span {	color: #ffffff;}
.portfolio_more_button .button:hover, .portfolio_more_button .button.hover {	background-color: #333333;}
.portfolio_more_button .button:hover span, .portfolio_more_button .button.hover span {	color: #ffffff;}
.left_sidebar #sidebar_content {	border-right-color: #eee;}
.right_sidebar #sidebar_content {	border-left-color: #eee;}
#sidebar .widget a, #sidebar .widget a:visited {	color: #58734A;}
#sidebar .widget a:hover, #sidebar .widget a:active {	color: rgb(0,0,0);}
#sidebar .widgettitle {	color: #333333;	font-size: 24px;
}
#breadcrumbs {	color: #999999;}
#breadcrumbs a, #breadcrumbs a:visited {	color: #999999;}
#breadcrumbs a:hover, #breadcrumbs a:active {	color: rgb(231,50,50);}
.portfolio_title, #page .portfolio_title a, #page .portfolio_title a:visited {	color: #333333;	font-size: 24px;
}
.portfolio_desc {
	font-size: 12px;
}
.masonry_item_title {}
.masonry_item_desc {	color: #777777;}
.masonry_item_image_overlay {	background-color: #000000;}
.masonry_item_image_overlay:before {	color: #ffffff;}
.no-gradient #footer, .has-gradient #footer {
	background-color: #000000;}
#footer {	color: #e5e5e5;	font-size: 12px;
}
#footer .widget a, #footer .widget a:visited{	color: #ffffff;}
#footer .widget a:active, #footer .widget a:hover{	color: rgb(231,50,50);}
#footer h3.widgettitle {	color: #ffffff;	font-size: 24px;
}
#footer_bottom {	background-color: transparent;}
#copyright {	color: #ffffff;	font-size: 14px;
}
#footer_menu a {
	font-size: 12px;
}
#footer_bottom a, #footer_bottom a:visited, #footer_bottom a:visited i {	color: #ffffff;}
#footer_bottom a:hover, #footer_bottom a:active, #footer_bottom a:active i {	color: rgb(231,50,50);}
.entry_frame, .divider, .divider_line, .commentlist li,.entry .entry_meta,#sidebar .widget li,#sidebar .widget_pages ul ul,#about_the_author .author_content, 
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
.product-thumbnail-wrap, .carousel_heading, .masonry_item,
.woocommerce div.product div.images img, .woocommerce-page div.product div.images img, .woocommerce #content div.product div.images img, .woocommerce-page #content div.product div.images img {	border-color: #eeeeee;}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
[class^="icon-"],
[class*=" icon-"] {	color: #8d8d8d;}
.icon-border {	border-color: #e5e5e5;	background-color: transparent;}
.iconfont {	background-color: transparent;}
.iconfont:hover {}
.nivo-caption {
	font-size: 16px;	color: #ffffff;	background: rgb(0,0,0);
	background: rgba(0,0,0,0.8);}

.nivo-title {	color: #ffffff !important;}

.unleash-slider-detail {	background-color: rgb(1,1,1) !important;
	background-color: rgba(1,1,1,0.4) !important;}
.unleash-slider-caption, 
.unleash-slider-caption a {	color: #ffffff !important;	font-size: 16px !important;
}
.unleash-slider-desc {	color: #ffffff !important;	font-size: 12px !important;
}
.roundabout-item .roundabout-caption {	background-color: rgb(1,1,1) !important;
	background-color: rgba(1,1,1,0.4) !important;}
.roundabout-title, .roundabout-title a {	color: #ffffff !important;	font-size: 24px !important;
}
.roundabout-desc {	color: #ffffff !important;	font-size: 12px !important;
}
.fotorama--fullscreen, .fullscreen, .fotorama--fullscreen .fotorama__stage, .fotorama--fullscreen .fotorama__nav {	background-color: rgb(0,0,0) !important;}
.fotorama__caption__wrap {	background-color: rgb(255,255,255) !important;
	background-color: rgba(255,255,255,0.9) !important;	color: #303030 !important;}
.kenburn-bg {	background-color: rgb(50,50,50) !important;
	background-color: rgba(50,50,50,0.8) !important;}
.ken-desc {	color: #ffffff !important;	background-color: rgb(0,0,0) !important;
	background-color: rgba(0,0,0,0.3) !important;}
.ken-wrap .kenburn_thumb_container_bg {	background-color: rgb(50,50,50) !important;
	background-color: rgba(50,50,50,0.8) !important;}
.fotorama__thumb-border {	border-color: rgb(231,50,50) !important;}
.entry {
	margin-bottom: 80px;
}
.entry_title {
	font-size: 24px;
}
.entry_left .entry_image {
	width: 150px;
}
.entry_frame {	background-color: transparent;}
.entry .entry_meta {}
.read_more_link.button {	background-color: #333333;}
.read_more_link.button span {	color: #ffffff;}
.read_more_link.button:hover, .read_more_link.button.hover {	background-color: #333333;}
.read_more_link.button:hover span, .read_more_link.button.hover span {	color: #ffffff;}
#page .read_more_wrap a,
#page .read_more_wrap a:visited,
.read_more_wrap a:visited,
.read_more_wrap a {	color: #666666;}
#page .read_more_wrap a:hover,
.read_more_wrap a:hover,
#page .read_more_wrap a:active,
.read_more_wrap a:active {	color: transparent;}
#page .entry .entry_title a,
#page .entry .entry_title a:visited {	color: #333333;}
#page .entry .entry_title a:hover,
#page .entry .entry_title a:active {	color: rgb(231,50,50);}
#page .entry_meta a, #page .entry_meta a:visited {	color: #666666;}
#page .entry_meta a:hover, #page .entry_meta a:active {	color: rgb(231,50,50);}
#back-to-top.style-square {	background-color: #555555;}
a:hover#back-to-top.style-square {	background-color: #eeeeee;}

ul.tabs {	border-bottom-color: #e5e5e5;}
ul.tabs li {	border-color: #e5e5e5;	background-color: transparent;}
.tabs_container .panes {	border-color: #e5e5e5;}
ul.tabs li a {	background-color: #fafafa;}
#page ul.tabs li a {	color: #777777;}
ul.tabs li a.current {	background-color: #ffffff;	border-bottom-color: #ffffff;}
#page ul.tabs li a.current {	color: #444444;}
ul.mini_tabs li {	border-color: #e5e5e5;	background-color: transparent;}
.mini_tabs_container .panes {	border-top-color: #e5e5e5;}
ul.mini_tabs li a {	background-color: #fafafa;}
#page ul.mini_tabs li a {	color: #777777;}
ul.mini_tabs li a.current, ul.mini_tabs a:hover {	background-color: #fefefe;}
#page ul.mini_tabs li a.current, 
ul.mini_tabs li a:hover, 
#page ul.mini_tabs li a:hover,
ul.mini_tabs li a:hover i,
#page ul.mini_tabs li a:hover i {	color: #444444;}
ul.vertical_tabs li:first-child {	border-color: #e5e5e5;}
ul.vertical_tabs li {	border-color: #e5e5e5;}
.vertical_tabs_container .panes {	border-top-color: #e5e5e5;}
ul.vertical_tabs li a {	background-color: #fafafa;}
#page ul.vertical_tabs li a {	color: #777777;}
ul.vertical_tabs li a.current, ul.vertical_tabs a:hover  {	background-color: #ffffff;}
#page ul.vertical_tabs li a.current,
ul.vertical_tabs li a:hover, 
#page ul.vertical_tabs li a:hover,
ul.vertical_tabs li a:hover i,
#page ul.vertical_tabs li a:hover i {	color: #444444;}
.accordion {	border-color: #e5e5e5;}
.accordion .tab {	border-color: #ffffff;	border-bottom-color: #e5e5e5;	background-color: #fafafa;}
.accordion .tab, 
.accordion .tab a,
#page .accordion .tab, 
#page .accordion .tab a {	color: #777777;}
.accordion .pane {	border-bottom-color: #e5e5e5;}
.accordion .pane:last-child {	border-top-color: #e5e5e5;}
.accordion .tab.current {	background-color: #ffffff;}
.accordion .tab.current, 
.accordion .tab.current a,
#page .accordion .tab.current, 
#page .accordion .tab.current a {	color: #444444;}
.accordion .tab i,
#page .accordion .tab i {	color: #444444;}
.accordion .tab.current i,
#page .accordion .tab.current i {	color: #444444;}
.toggle_title {}
.toggle_icon {}
.button {	background-color: rgb(231,50,50);}
.iconbox_icon i {	color: rgb(231,50,50);}
.milestone_number {	color: rgb(231,50,50);}
.milestone_icon .milestone_number {	color: #444444;}
.milestone_subject {	color: #666666;}
.milestone_icon i {	color: rgb(231,50,50);}
.carousel_heading {}
.carousel_nav_prev, 
.carousel_nav_next {	color: #b8b8b8 !important;}
.carousel_nav_prev:hover, 
.carousel_nav_next:hover {	color: #8d8d8d !important;}
.process_steps li:before {	border-color: #e5e5e5;}
.process_step_icon {	border-color: #e5e5e5;	background-color: #ffffff;}
.process_step_icon:hover {	border-color: rgb(231,50,50);	background-color: rgb(231,50,50);}
.process_step_icon i {	color: #AAAAAA;}
.process_step_icon:hover i {	color: #ffffff !important;}
.progress {	background-color: #e5e5e5;}
.progress-meter {	color: #ffffff;	background-color: rgb(231,50,50);}
.pie_progress_icon {	color: #bbbbbb;}.testimonial_content {	border-color: #e5e5e5;}
.testimonial_content:after {border-color:#e5e5e5 transparent transparent;}.testimonial_content {	background-color: #fafafa;}.testimonial_content {	color: #777777;}.testimonial_name {	color: #333333;}#page .testimonial_meta a, 
#page .testimonial_meta a:visited,
.testimonial_meta a,
.testimonial_meta {	color: #777777;}#page .testimonial_meta a:hover, 
#page .testimonial_meta a:active,
.testimonial_meta a:hover,
.testimonial_meta a:active{	color: rgb(60,139,206);}#page a.testimonial_previous, 
#page a.testimonial_previous:visited,
#page a.testimonial_next, 
#page a.testimonial_next:visited,
.testimonial_previous,
.testimonial_previous:visited,
.testimonial_next,
.testimonial_next:visited{	color: #b8b8b8;}#page a.testimonial_previous:hover, 
#page a.testimonial_previous:active,
#page a.testimonial_next:hover, 
#page a.testimonial_next:active,
.testimonial_previous:hover,
.testimonial_previous:active,
.testimonial_next:hover,
.testimonial_next:active{	color: #8d8d8d;}#page input[type="text"],
#page input[type="password"],
#page input[type="email"],
#page input[type="file"],
#page input[type="datetime"],
#page input[type="datetime-local"],
#page input[type="date"],
#page input[type="month"],
#page input[type="time"],
#page input[type="week"],
#page input[type="number"],
#page input[type="url"],
#page input[type="search"],
#page input[type="tel"],
#page input[type="color"],
#page textarea {	color: #333333;}
#footer input[type="text"],
#footer input[type="password"],
#footer input[type="email"],
#footer input[type="file"],
#footer input[type="datetime"],
#footer input[type="datetime-local"],
#footer input[type="date"],
#footer input[type="month"],
#footer input[type="time"],
#footer input[type="week"],
#footer input[type="number"],
#footer input[type="url"],
#footer input[type="search"],
#footer input[type="tel"],
#footer input[type="color"],
#footer textarea, 
#footer .text_input, 
#footer .textarea {	color: #ffffff;}
@media only screen and (max-width: 767px) {
	.responsive #header .inner {
		height: auto;
	}
}
@media only screen and (max-width: 979px) {
	.responsive #logo, .responsive #logo_text {
		position: relative;
		bottom: auto!important;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.responsive #header .inner {
		height: auto;
	}
	.responsive #navigation > ul {
		display: none;
	}
	.responsive #navigation {
		height: auto;
		right: auto;
		width: auto;
		position: relative;
		bottom: auto;
	}
	.responsive .nav2select {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 979px) {
	/* footer */
	.responsive #copyright {
		float: none;
		padding-top: .3em;
	}
	.responsive #footer_menu:before, #footer_right_area:before {
		position: absolute;
		width: 100%;
		height:1px;
		content: '';
		background: rgba(0, 0, 0, 0.1);
		bottom: 0;
		left: 0;
	}
	.responsive #footer_menu, #footer_right_area {
		float: none;
		position: relative;
		padding-bottom: .2em;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		text-align: left;
	}
	.responsive #footer_right_area .widget {
		margin-bottom: 0;
	}
	.responsive #footer_menu a {
		padding: 0 10px 0 0;
	}
}

@media only screen and (max-width: 767px) {
	.responsive #top_area {
		display:none;
	}
}
.woocommerce a.button.alt, 
.woocommerce-page a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce-page button.button.alt, 
.woocommerce input.button.alt, 
.woocommerce-page input.button.alt, 
.woocommerce #respond input#submit.alt, 
.woocommerce-page #respond input#submit.alt, 
.woocommerce #content input.button.alt, 
.woocommerce-page #content input.button.alt,
#page .woocommerce a.button.alt, 
.woocommerce-page #page a.button.alt {	background-color: rgb(231,50,50);color:#ffffff;}
.woocommerce a.button.alt:hover, 
.woocommerce-page a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce-page button.button.alt:hover, 
.woocommerce input.button.alt:hover, 
.woocommerce-page input.button.alt:hover, 
.woocommerce #respond input#submit.alt:hover, 
.woocommerce-page #respond input#submit.alt:hover, 
.woocommerce #content input.button.alt:hover, 
.woocommerce-page #content input.button.alt:hover,
#page .woocommerce a.button.alt:hover, 
.woocommerce-page #page a.button.alt:hover {	background-color: rgb(231,50,50);color:#ffffff;}
.b-img-radius {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

#navigation {
bottom: 0;
height: 76px;
}

#page .inner {
padding: 10px 0 0;
}

#page .inner .entry-title{
    text-align: center;
}

a.button10 {
  display: inline-block;
  color: black;
  font-size: 125%;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .25em .5em;
  outline: none;
  border: 1px solid rgb(250,172,17);
  border-radius: 7px;
  background: rgb(255,212,3) linear-gradient(rgb(255,212,3), rgb(248,157,23));
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: box-shadow .2s, border-color .2s;
} 
a.button10:hover {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
}
a.button10:active {
  padding: calc(.25em + 1px) .5em calc(.25em - 1px);
  border-color: rgba(177,159,0,1);
  box-shadow: inset 0 -1px 1px rgba(0,0,0,.1), inset 0 1px 2px rgba(0,0,0,.3), inset 0 0 0 60px rgba(255,255,0,.45);
}

a.button11 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button11:after {
  content: "Купить";  /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#993300, #c61e40) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button11:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button11:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}

a.button12 {
  position: relative;
  z-index: 1;
  color: black;
  font-size: 135%;
  font-weight: 700;
  text-decoration: none;
  padding: .25em .5em;
}
a.button12:after {
  content: "Рублей";  /* здесь 6 букв */
  position: absolute;
  z-index: -1;
  top: -2px;
  bottom: -2px;
  left: -2px;
  width: calc(100% + 6*(1em*90/135) - 2px*2*2);  /* где 6*(1em*90/135), где 6 - это 6 букв, 90 - это font-size after, а 135 - это font-size родителя */
  text-align: right;
  color: #fff;
  font-size: 90%;
  padding: .25em .5em;
  border-radius: 5px;
  border: 2px solid #c61e40;
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  background: linear-gradient(#993300, #c61e40) no-repeat 100% 0;
  background-size: calc(6*(1em*90/135) + .5em) 100%;
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,0);
  transition: .3s;
}
a.button12:hover:after {
  box-shadow: inset calc(-6*(1em*90/135) - .5em) 0 rgba(255,255,255,.2);
}
a.button12:active:after {
  background-image: linear-gradient(#c61e40, #d4536d);
}

a.knopka {
  color: #0000; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
} 
a.knopka:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.knopka:active { background: rgb(152,15,0); } /* при нажатии */

a.button27 {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #000;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
a.button27:hover {
  background: #dcdcdc linear-gradient(#fff, #dcdcdc);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
}
a.button27:active {
  background: none;
    box-shadow: 0 0 0 1px #bbb inset, 0 1px 3px rgba(0,0,0,.5) inset, 0 1px 2px #fff;
}

a.button35 {
  display: inline-block;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  user-select: none;
  padding: 0 5px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ddd inset, 0 1px 1px #fff;
}
a.button35:before {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;  /* для больших картинок 0 */
  padding-right: 5px;
}
a.button35[data-strahovka]:before {content: url("");}
a.button35[data-okokok]:before {content: url("");}
a.button35[data-facebook]:before {content: url("");}
a.button35:hover {
  background: #dcdcdc linear-gradient(#ececeb, #eaeaea);
  box-shadow: 0 0 0 1px #aaa inset, 0 1px 1px #aaa;
   inset rgba(0,0,0,.5) 0 -1px 1px,
   inset rgba(0,0,0,.2) 0 1px,
   inset #fff 0 2px,
   rgba(0,0,0,.2) 0 1px 1px;
}
a.button35:active {
  background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.1));
  box-shadow:
   inset rgba(0,0,0,.8) 0 1px 2px,
   inset rgba(0,0,0,.05) 0 -1px 0,
   #fff 0 1px 3px;
}

.hover-effect2 {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.hover-effect2:hover {
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
}
